
.game-card-container {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, 225.333px);
    /*justify-content: end;*/
}


.game-card {
    /*background: #202020;*/
    background: linear-gradient(0deg, rgba(67,39,87,1) 0%, rgba(46,31,56,1) 50%);
    border-radius: 12px;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,.07);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.07);
    overflow: hidden;
}

.game-card img {
    overflow: hidden;
    height: 120px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.game-card-info {
    padding: 8px 12px 24px;
}

.game-card-title {
    font-size: 16px;
    font-weight: 600;
}